<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>状况统计表</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">VCI/CVD评估</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="about">关于</a></li>
          <li><a href="help">帮助</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="row marketing">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">测试信息列表</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">病人信息列表</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">EM测试列表</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <tr>
              <th>序号</th>
              <th>病人编号(点击看详情)</th>
              <th>Datum测试分数</th>
              <th>MMSE测试分数</th>
              <th>测试详情</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="testInfo:${testInfos}">
              <td th:text="${testInfo.id}">id</td>
              <td><a class="btn btn-sm btn-primary" th:text="${testInfo.userid}" th:href="@{/userdetail(userid=${testInfo.userid})}">用户id</a></td>
              <td th:text="${testInfo.datumscore}">分数1</td>
              <td th:text="${testInfo.mmsetestscore}">分数2</td>
              <td><a th:href="@{/testdetail(testid=${testInfo.id})}">详情</a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <tr>
              <th>序号</th>
              <th>病人姓名</th>
              <th>手机号</th>
              <th>年龄</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userInfo:${userInfos}">
              <td th:text="${userInfo.id}">id</td>
              <td th:text="${userInfo.name}">姓名</td>
              <td th:text="${userInfo.phonenumber}">手机号</td>
              <td th:text="${userInfo.year}">年龄</td>
              <td><a class="btn btn-sm btn-success" th:href="@{/userdetail(userid=${userInfo.id})}">详情</a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <tr>
              <th>序号</th>
              <th>EM第一阶段测试正确率</th>
              <th>EM第一阶段测试平均时间</th>
              <th>EM第二阶段测试正确率</th>
              <th>EM第二阶段测试平均时间</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emtestInfo:${emTestInfos}">
              <th th:text="${emtestInfo.id}">id</th>
              <th th:text="${emtestInfo.correctrate1}">correctrate1</th>
              <th th:text="${emtestInfo.avecorrecttime1}">usetime1</th>
              <th th:text="${emtestInfo.correctrate4}">correctrate2</th>
              <th th:text="${emtestInfo.avecorrecttime4}">usetime1</th>
              <td><a class="btn btn-sm btn-success" th:href="@{/emdetail(testid=${emtestInfo.id})}">详情</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>


  <div class="footer">
    <p>♥ from the UPC - skyADMIN & Echaoo</p>
  </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
