<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医疗测试</title>
</head>
<body>
<form action="test" method="post">
    姓名： <input type="text" name="name"/><br/>
    住院号：<input type="number" name="adminnum"/><br/>
    年龄： <input type="number" name="age"/><br/>
    编号： <input type="number" name="number"/><br/>
    出生日期：<input type="text" name="birth"/><br/>
    性别： <input type="radio" name="sex" value="male"/>male
    <br/>
    <input type="radio" name="sex" value="famale"/>famale<br/>
    <input type="submit" value="submit">

</form>
</body>
</html>