<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新用户填写基本信息</title>
</head>
<body>
<form action="savenew" method="post">
    姓名：<input type="text" name="name">
    住院号：<input type="number" name="admissionnum">
    性别：男<input type="radio" name="sex" value="M">女<input type="radio" name="sex" value="F">
    年龄：<input type="number" name="age">
    编号：<input type="text" name="number">
    生日：<input type="text" name="birth">
    <input type="submit">
</form>
</body>
</html>