<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<form method="get" action="savetest">
    1、
    <input type="checkbox" name="A" value="1">A答案
    <input type="checkbox" name="B" value="0">B答案
    <input type="checkbox" name="C" value="0">C答案
    <input type="checkbox" name="D" value="0">D答案<br/>
    2、
    <input type="checkbox" name="A" value="1">A答案
    <input type="checkbox" name="B" value="0">B答案
    <input type="checkbox" name="C" value="0">C答案
    <input type="checkbox" name="D" value="0">D答案<br/>
    3、
    <input type="checkbox" name="A" value="1">A答案
    <input type="checkbox" name="B" value="0">B答案
    <input type="checkbox" name="C" value="0">C答案
    <input type="checkbox" name="D" value="0">D答案<br/>
    4、
    <input type="checkbox" name="A" value="1">A答案
    <input type="checkbox" name="B" value="0">B答案
    <input type="checkbox" name="C" value="0">C答案
    <input type="checkbox" name="D" value="0">D答案<br/>

</form>
</body>
</html>